body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.circle{
    width: 100px;
    height: 100%;
    border: 3px solid black;
    border-radius: 50%;
}

.namorados{
    width: 350px;
}

.grande{
    font-size: 100px;
}

.teste{
    background-color: pink;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 5px solid black;
}